@model ClienteModel

@{
    ViewData["Title"] = "Menu";
}

<br />

<div class="row" style="text-align: center;">
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Cliente" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>            
        </div>
        <span>Gerenciar Cliente</span>
    </div>
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Bibliotecario" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>
        </div>
        <span>Gerenciar Bibliotecário</span>
    </div>
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Home" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>
        </div>
        <span>Gerenciar Livro</span>
    </div>
</div>
<br />
<div class="row"style="text-align: center;">
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Home" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>
        </div>
        <span>Gerenciar Empréstimo</span>
    </div>
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Home" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3" style="border: 1px solid black;">
        <div class="row">
            <a asp-controller="Home" asp-action="Index" role="button">
                <img src="./imgs/teste.jpg" width="200" height="200" />
            </a>
        </div>
        <span>Configurações</span>
    </div>
</div>
